<nav class="mainHeader indigo darken-4 ">
    <div class="nav-wrapper container">
        <div class="section">
          <div class="row">
            <div class="col s12 m5 left">
              {{#link-to 'index' class='brand-logo'}}
              <img class="img-responsive left logo" alt="sie-center" src="assets/img/SIE-Blanco-s.png">
              {{/link-to}}
              <br/>

            </div>
            <div class="col s4 m4 hide-on-med-and-down">
              <div class="row slogan-logos">
                <div class="slogan truncate">
                 a Tec de Monterrey spin-off company
                </div>
                <div class="partner-logos">
                  <img class="responsive-img" src="assets/img/sei_partner1.png" >
                  <img class="responsive-img" src="assets/img/sei_partner2.jpg" >
                </div>
              </div>
            </div>
            <div class="col s2 m3 center hide-on-med-and-down redes-sociales">
              {{#editable-uri uri="https://www.facebook.com/siecenter"}}
              <i class="fa fa-facebook-square"></i>
              {{/editable-uri}}
              {{#editable-uri uri="https://twitter.com/SIECenter"}}
              <i class="fa fa-twitter-square"></i>
              {{/editable-uri}}
              {{#editable-uri uri="http://mx.linkedin.com/in/siecenter"}}
              <i class="fa fa-linkedin-square"></i>
              {{/editable-uri}}
              {{#if session.isAuthenticated}}
  <a {{ action 'invalidateSession' }}>Salir</a>
{{else}}
  {{#link-to 'login'}}Ingresar{{/link-to}}
{{/if}}
            </div>
          </div>
          
        </div>
    </div>
</nav>