<!-- Seccion Agenda -->
<div class ="light-blue lighten-4" id="agenda">
  <div class="container">
    <div class="row center">
      {{editable-text text=model.agenda.title header='h3'}}
      <!-- <h3>Agenda</h3> -->
      <div class="calendar-container"> <iframe src="https://www.google.com/calendar/embed?title=SIE%20Center&amp;showTitle=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=600&amp;wkst=1&amp;bgcolor=%236666cc&amp;src=irvingalv%40gmail.com&amp;color=%23113F47&amp;ctz=America%2FMexico_City" style=" border:solid 1px #777 " width="800" height="600" frameborder="0" scrolling="no"></iframe></div>
    <div> <img class="responsive-img" src="img/calendar.png"></div>
    </div>
  </div>
</div>
<!-- /Seccion Agenda -->