<div id="index-banner" class="section">
	<div class="container">
	  <div class="row">
	  <!-- TODO Quitar o poner titulo -->
	  </div>
	  <div class="row center">
	    <!-- Add carrousel here -->
	    {{owl-carousel}}
	  </div>
	</div>
</div>