<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Usuario</label>
  {{input id='identification' placeholder='Ingresa tu usuario' value=identification}}
  <label for="password">Contraseña</label>
  {{input id='password' placeholder='Ingresa tu contraseña' type='password' value=password}}
  <button type="submit">Ingresar</button>
</form>