<!-- Seccion Servicios -->
<div class="section" id="servicios">
  <div class="container center">
    <div class="row">
      {{editable-text text=servicios.title header='h2'}}
    </div>
    <div class="row">
      {{#each section in servicios.sections}}
        
      <div class="col s12 m4 ">
        {{editable-text text=section.subtitle header='h3'}}
        <div class= "icon-block">
          <h2 class="brown-text">
            <i class="{{section.icon}}"></i>
          </h2>
          {{editable-text text=section.text }}
        </div>
      </div>

      {{/each}}
    </div>
  </div>  
</div>
<!-- /Seccion Servicios-->